<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="AC Proyectos- Eléctricos & Automatización- Encontrás la posibilidad de enviarnos tu consulta">
    <meta name="keywords" content="pasos a seguir, formulario, comunicarte, consultarnos, contactos">
    <title>Consultanos | AC Proyectos- Eléctricos & Automatización</title>
    <link rel="stylesheet" href="../css/index.css">
</head>

<body class="contenedor">
    <header>
        <h1>Bienvenidos</h1>
        <nav class="navbar">
            <picture>
                <a href="../../index.html"><img class="logo" src="../img/Logoempresa.jpg"
                        alt="Cuadrado formado por bloques verdes y a su derecha se le agrega AC Proyectos Electricos y Automatizacion"></a>
            </picture>
            <ul class="menu">
                <li><a href="../../index.html">Inicio</a>
                </li>
                <li><a href="empresa.html">Empresa</a>
                </li>
                <li><a href="servicios.html">Servicios</a>
                </li>
                <li><a href="consultanos.html">Consultanos</a>
                </li>
                <li><a href="nuestros__clientes.html">Nuestros Clientes</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="main__disposicion">
            <div class="main__disposicion__h2">
                <h2>Consultanos</h2>
            </div>
            <article>
                <h3>Podés comunicarte con nosotros</h3>
                <div class="estilos__lista">
                    <ul>
                        <li><img class="estilos__logos" src="../img/logowsapp.png" alt="logo de whatsapp"> 2804647135
                        </li>
                        <li><img class="estilos__logos" src="../img/logomail.png" alt="logo de correo electrónico">
                            carlosalcaraz_2002@yahoo.com.ar</li>
                        <li><img class="estilos__logos" src="../img/logolinkedin.png" alt="logo de linkedin"><a
                                href="https://www.linkedin.com/mwlite/company/ac-proyectos-el%C3%A9ctricos-automatizaci%C3%B3n/"
                                target="_blank"> ir a</a> </li>
                    </ul>
                </div>
                <h3>O hacernos tu consulta, y te contactamos!</h3>
                <div class="estilos__lista">
                    <ol>
                        <li>Te pedimos, por favor, que leas los servicios que ofrecemos;</li>
                        <li>Luego,incluí tus datos en el siguiente formulario;</li>
                        <li>Y Listo! Tenemos todo para comunicarnos con vos a la brevedad.</li>
                    </ol>
                </div>
            </article>
            <article>
                <form>
                    <label for="username">Nombre:</label>
                    <input type="text" name="username" id="username">
                    <label for="number">Número de Teléfono:</label>
                    <input type="tel" name="number" id="number">
                    <label for="email">Correo Eléctronico:</label>
                    <input type="email" name="email" id="email">
                    <label for="country">Origen del Contacto:</label>
                    <select name="country" id="country">
                        <option value="Argentina">Argentina</option>
                        <option value="Exterior">Exterior</option>
                    </select> <br>
                    <label for="comentarios">Comentarios:</label>
                    <textarea name="textarea" id="Comentarios" cols="30" rows="6"
                        placeholder="Ingrese su Consulta"></textarea><br>
                    <button class="btn--resetear" type="reset">Resetear Datos</button><button class="btn--enviar"
                        type="submit">Enviar
                        Datos</button>
                </form>
            </article>
        </section>
    </main>
    <footer>
        <div class="footer__alineacion">
            <ul class="footer__menu">
                <li><a href="https://www.whatsapp.com/?lang=es" target="_blank"><img class="estilos__logos"
                            src="../img/logowsapp.png" alt="logo de whatsapp">
                    </a></li>
                <li><a href="../views/consultanos.html" target="_blank"><img class="estilos__logos"
                            src="../img/logomail.png" alt="logo de correo electrónico">
                    </a></li>
                <li><a href="https://www.linkedin.com/mwlite/company/ac-proyectos-el%C3%A9ctricos-automatizaci%C3%B3n/"
                        target="_blank"><img class="estilos__logos" src="../img/logolinkedin.png"
                            alt="logo de linkedin">
                    </a> </li>
            </ul>
        </div>
    </footer>
</body>

</html>