<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AC Proyectos. Eléctricos & Automatización</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <header>
        <h1>Bienvenidos</h1>
        <nav class="navbar">
            <picture>
                <a href="../img/Logo.jpg"><img class="logo" src="../img/Logo.jpg"
                        alt="Cuadrado formado por bloques verdes y a su derecha se le agrega AC Proyectos Electricos y Automatizacion"></a>
            </picture>
            <ul class="menu">
                <li><a href="../../index.html">Inicio</a>
                </li>
                <li><a href="empresa.html">Empresa</a>
                </li>
                <li><a href="servicios.html">Servicios</a>
                </li>
                <li><a href="consultanos.html">Consultanos</a>
                </li>
                <li><a href="contacto.html">Contacto</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="main__disposicion">
            <div class="main__disposicion__h2">
                <h2>Contacto</h2>
            </div>
            <article>
                <h3>Para comunicarte con nosotros</h3>
                <ul>
                    <li>Celular: 2804647135</li>
                    <li>Mail: carlosalcaraz_2002@yahoo.com.ar</li>
                    <li>Linkedin: Ir a</li>
                </ul>
                <a href="https://ar.linkedin.com/" target="_blank"></a>
            </article>
        </section>
    </main>
    <footer>
        <p>Todos los derechos reservados&copy; 2022</p>
    </footer>
</body>

</html>