<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="AC Proyectos- Eléctricos & Automatización está disponible para que nos contactes cuando necesites">
    <meta name="keywords" content="contactos, whatsapp, mail, linkedin">
    <title>Contacto | AC Proyectos- Eléctricos & Automatización</title>
    <link rel="stylesheet" href="../css/index.css">
</head>

<body>
    <header>
        <h1>Bienvenidos</h1>
        <nav class="navbar">
            <picture>
                <a href="../img/Logoempresa.jpg"><img class="logo" src="../img/Logoempresa.jpg"
                        alt="Cuadrado formado por bloques verdes y a su derecha se le agrega AC Proyectos Electricos y Automatizacion"></a>
            </picture>
            <ul class="menu">
                <li><a href="../../index.html">Inicio</a>
                </li>
                <li><a href="empresa.html">Empresa</a>
                </li>
                <li><a href="servicios.html">Servicios</a>
                </li>
                <li><a href="consultanos.html">Consultanos</a>
                </li>
                <li><a href="contacto.html">Contacto</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="main__disposicion">
            <div class="main__disposicion__h2">
                <h2>Contacto</h2>
            </div>
            <article>
                <h3>Para comunicarte con nosotros</h3>
                <div class="contacto__estilos">
                    <p><img src="../img/logowsapp.png" alt="logo de whatsapp"> 2804647135</p>
                    <p><img src="../img/logomail.png" alt="logo de mail"> carlosalcaraz_2002@yahoo.com.ar</p>
                    <p><img src="../img/logolinkdin.png" alt="logo de linkedin"><a
                            href="https://www.linkedin.com/mwlite/company/ac-proyectos-el%C3%A9ctricos-automatizaci%C3%B3n/"
                            target="_blank"> Ir a</a> </p>
                </div>
            </article>
        </section>
    </main>
    <footer>
        <p>Todos los derechos reservados&copy; 2022</p>
    </footer>
</body>

</html>