<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="AC Proyectos- Eléctricos & Automatización te muestra los últimos trabajos realizados">
    <meta name="keywords"
        content="Nuestros Clientes, proyectos, puente grúa, lavadora de verduras, portones automáticos, programación PLC">
    <title>Nuestros Clientes | AC Proyectos- Eléctricos & Automatización</title>
    <link rel="stylesheet" href="../css/index.css">
</head>

<body class="contenedor">
    <header>
        <h1>Bienvenidos</h1>
        <nav class="navbar">
            <picture>
                <a href="../../index.html"><img class="logo" src="../img/Logoempresa.jpg"
                        alt="Cuadrado formado por bloques verdes y a su derecha se le agrega AC Proyectos Electricos y Automatizacion"></a>
            </picture>
            <ul class="menu">
                <li><a href="../../index.html">Inicio</a>
                </li>
                <li><a href="empresa.html">Empresa</a>
                </li>
                <li><a href="servicios.html">Servicios</a>
                </li>
                <li><a href="consultanos.html">Consultanos</a>
                </li>
                <li><a href="nuestros__clientes.html">Nuestros Clientes</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="main__disposicion">
            <div class="main__disposicion__h2">
                <h2>Nuestros Clientes</h2>
            </div>
            <div>
                <h3>Cliente: EMBA Proyectos</h3>
                <img class="img__medidas" src="../img/lavadoraverduras.jpeg" alt="imagen lavadora de verduras">
                <p class="p__alineacion"> Diseño, presupuesto y ejecución de lavadora de verduras, con batea de 0,1 m3
                    donde se colocan
                    verduras y se realiza ciclos de lavado, enjuague y escurrido. Cocina Hospital Italiano (Bs. As.).
                </p>
            </div>
            <div>
                <h3>Cliente: Ing. Pablo Chiechio</h3>
                <img class="img__medidas" src="../img/portonautomatico.jpeg" alt="imagen portón automático">
                <p class="p__alineacion">Planeamiento y ejecución de portones con apertura automática, para detección de
                    vehículos, en naves
                    industriales de producción.</p>
            </div>
            <div>
                <h3> Cliente: Cesin</h3>
                <img class="img__medidas" src="../img/puentegrua.jpeg" alt="imagen puente grúa">
                <p class="p__alineacion"> Puente grúa. Programación de PLC de control de un puente grúa para producción
                    industrial.</p>
            </div>
            <div>
                <h3> Cliente: Integrar</h3>
                <img class="img__medidas" src="../img/plc.jpg" alt="imagen plc">
                <p class="p__alineacion"> Capacitación: programación de PLC para mantenimiento.</p>
            </div>
            <div>
                <h3>Cliente: Electroingeniería S.A.</h3>
                <img class="img__medidas" src="../img/capacitacionindustrial.jpeg" alt="imagen capacitación industrial">
                <p class="p__alineacion"> Capacitaciones en el área de instrumentación industrial.</p>
            </div>
        </section>
    </main>
    <footer>
        <div class="footer__alineacion">
            <ul class="footer__menu">
                <li><a href="https://www.whatsapp.com/?lang=es" target="_blank"><img class="estilos__logos"
                            src="../img/logowsapp.png" alt="logo de whatsapp">
                    </a></li>
                <li><a href="../views/consultanos.html" target="_blank"><img class="estilos__logos"
                            src="../img/logomail.png" alt="logo de correo electrónico">
                    </a></li>
                <li><a href="https://www.linkedin.com/mwlite/company/ac-proyectos-el%C3%A9ctricos-automatizaci%C3%B3n/"
                        target="_blank"><img class="estilos__logos" src="../img/logolinkedin.png"
                            alt="logo de linkedin">
                    </a></li>
            </ul>
        </div>
    </footer>
</body>

</html>