<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="AC Proyectos- Eléctricos & Automatización está disponible para que nos contactes cuando necesites">
    <meta name="keywords" content="Nuestro Clientess, whatsapp, mail, linkedin">
    <title>Nuestros Clientes | AC Proyectos- Eléctricos & Automatización</title>
    <link rel="stylesheet" href="../css/index.css">
</head>

<body class="contenedor">
    <header>
        <h1>Bienvenidos</h1>
        <nav class="navbar">
            <picture>
                <a href="../img/Logoempresa.jpg"><img class="logo" src="../img/Logoempresa.jpg"
                        alt="Cuadrado formado por bloques verdes y a su derecha se le agrega AC Proyectos Electricos y Automatizacion"></a>
            </picture>
            <ul class="menu">
                <li><a href="../../index.html">Inicio</a>
                </li>
                <li><a href="empresa.html">Empresa</a>
                </li>
                <li><a href="servicios.html">Servicios</a>
                </li>
                <li><a href="consultanos.html">Consultanos</a>
                </li>
                <li><a href="nuestros__clientes.html">Nuestros Clientes</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="main__disposicion">
            <div class="main__disposicion__h2">
                <h2>Nuestros Clientes</h2>
            </div>
            <div>
                <h3>Cliente: EMBA Proyectos</h3>
                <p> Diseño, presupuesto y ejecución de Lavadora de verduras, con batea de 0,1 m3 donde se colocan
                    verduras y se realiza ciclos de lavado, enjuague y escurrido. Para cocina Hospital Italiano de
                    Buenos Aires.</p>
            </div>
            <div>
                <h3>Cliente: Ing. Pablo Chiechio</h3>
                <p>Planeamiento y ejecución de Portones con apertura automática, para detección de vehículos, en naves
                    industriales de producción.</p>
            </div>
            <div>
                <h3> Cliente: Cesin</h3>
                <p> Puente grúa. Programación de PLC de control de un puente grúa para producción industrial.</p>
            </div>
            <div>
                <h3> Cliente: Integrar</h3>
                <p> Capacitaciones. Dictado de capacitación de Programación de PLC, para mantenimiento.</p>
            </div>
            <div>
                <h3>Cliente: Electroingeniería S.A.</h3>
                <p> Capacitación. Dictado de capacitación de Instrumentación Industrial.</p>
            </div>
        </section>
    </main>
    <footer>
        <p>Todos los derechos reservados&copy; 2022</p>
    </footer>
</body>

</html>