<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="AC Proyectos- Eléctricos & Automatización ofrece servicios en el area automática y eléctrica, tanto para el inicio , como la actualización de las mismas">
    <meta name="keywords" content="diseño de planos, asesoramiento, trabajo de campo, automatización, eléctricos">
    <title>Servicios | AC Proyectos- Eléctricos & Automatización</title>
    <link rel="stylesheet" href="../css/index.css">
</head>

<body class="contenedor">
    <header>
        <h1>Bienvenidos</h1>
        <nav class="navbar">
            <picture>
                <a href="../../index.html"><img class="logo" src="../img/Logoempresa.jpg"
                        alt="Cuadrado formado por bloques verdes y a su derecha se le agrega AC Proyectos Electricos y Automatizacion"></a>
            </picture>
            <ul class="menu">
                <li><a href="../../index.html">Inicio</a>
                </li>
                <li><a href="empresa.html">Empresa</a>
                </li>
                <li><a href="servicios.html">Servicios</a>
                </li>
                <li><a href="consultanos.html">Consultanos</a>
                </li>
                <li><a href="nuestros__clientes.html">Nuestros Clientes</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="main__disposicion">
            <div class="main__disposicion__h2">
                <h2>Servicios</h2>
            </div>
            <article>
                <div>
                    <h3>Area Eléctrica</h3>
                    <p class="p__servicios"> Presupuesto, diseño y cálculo de proyectos eléctricos. Supervisión del
                        montaje
                        y
                        recomendaciones para mantenimiento de instalaciones eléctricas. Industriales y comerciales. Bajo
                        normativas AEA.
                        Cálculo y corrección del coseno de Φ.
                        Evaluación de instalaciones existentes y recomendaciones de mejoras, para optimizar
                        el consumo eléctrico y seguridad.
                        Cálculo de protecciones para personas e instalaciones.
                        Iluminación de grandes espacios (naves industriales, talleres, estacionamientos).
                        Cálculo de potencias de tableros eléctricos.
                        Capacitaciones.</p>
                </div>
                <div>
                    <h3>Mantenimiento</h3>
                    <p class="p__servicios">Diseño de planes preventivos y predictivos de mantenimiento, evaluación de
                        la
                        política de mantenimiento de su empresa, para las áreas eléctricas, instrumentación y de
                        control.
                        Evaluación de stock de repuesto y administración de almacenes. Recomendación y desarrollo de
                        proveedores de repuestos. Seguimientos de compras.</p>
                </div>
                <div>
                    <h3>Capacitación</h3>
                    <p class="p__servicios"> Cursos de PLC, SCADA, Instrumentación, Lectura de planos, Detección e
                        interpretación
                        de fallas.
                        Redacción de informes.
                        Evaluación de mejoras.
                        Planes de Mantenimiento.</p>
                </div>
            </article>
            <article>
                <div>
                    <h3>Area de Automatización</h3>
                    <p class="p__servicios">Proyectos básicos y de detalle; de control a través de PLC’s y SCADA’s.
                        Listado
                        de
                        entradas/ salidas, planilla de conexionado, DB para intercambio entre sistemas, planos
                        funcionales, especificación técnica de automatismo y manuales de instalaciones y procesos.
                        Pre-Comisionning y Comisionning (Puesta en marcha).
                        Evaluación de instalaciones existentes y proyectos de actualizaciones de tecnologías
                        y mejoras en los procesos.
                        Evaluación de obsolescencia de las instalaciones de control, tiempo de
                        amortización de los equipos y plan de actualización. Costos y riesgos.
                        Instrumentación general de plantas industriales, revisión de instrumentos y
                        calibraciones.
                    </p>
                    <table cellpadding="10px" cellspacing="10px">
                        <tr>
                            <th colspan="3" height="50px">Características de los Proyectos</th>
                        </tr>
                        <tr height="40px">
                            <th>Dimensión</th>
                            <th>Cantidad de Entradas/Salidas</th>
                            <th>Equipos/Instalaciones</th>
                        </tr>
                        <tr>
                            <td>Grandes</td>
                            <td>7 a 10</td>
                            <td>Plantas de procesamiento. Industria pesada (Minería, Puerto, Siderurgia y
                                Líneas Automotrices).</td>
                        </tr>
                        <tr>
                            <td>Medianos</td>
                            <td>4 a 6</td>
                            <td>Líneas de producción, máquinas y herramientas. Islas robotizadas.
                                Aplicaciones para la mediana y pequeña industria. </td>
                        </tr>
                        <tr>
                            <td>Pequeños</td>
                            <td>1 a 3</td>
                            <td>Sistemas de riego y tanque cisterna. Portones e iluminación automática.</td>
                        </tr>
                    </table>
                </div>
            </article>
        </section>
    </main>
    <footer>
        <div class="footer__alineacion">
            <ul class="footer__menu">
                <li><a href="https://www.whatsapp.com/?lang=es" target="_blank"><img class="estilos__logos"
                            src="../img/logowsapp.png" alt="logo de whatsapp">
                    </a></li>
                <li><a href="../views/consultanos.html" target="_blank"><img class="estilos__logos"
                            src="../img/logomail.png" alt="logo de correo electrónico">
                    </a></li>
                <li><a href="https://www.linkedin.com/mwlite/company/ac-proyectos-el%C3%A9ctricos-automatizaci%C3%B3n/"
                        target="_blank"><img class="estilos__logos" src="../img/logolinkedin.png"
                            alt="logo de linkedin">
                    </a> </li>
            </ul>
        </div>
    </footer>
</body>

</html>