<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AC Proyectos. Eléctricos & Automatización</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <header>
        <h1>Bienvenidos</h1>
        <nav class="navbar">
            <picture>
                <a href="../img/Logo.jpg"><img class="logo" src="../img/Logo.jpg"
                        alt="Cuadrado formado por bloques verdes y a su derecha se le agrega AC Proyectos Electricos y Automatizacion"></a>
            </picture>
            <ul class="menu">
                <li><a href="../../index.html">Inicio</a>
                </li>
                <li><a href="empresa.html">Empresa</a>
                </li>
                <li><a href="servicios.html">Servicios</a>
                </li>
                <li><a href="consultanos.html">Consultanos</a>
                </li>
                <li><a href="contacto.html">Contacto</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="main__disposicion">
            <div class="main__disposicion__h2">
                <h2>Servicios</h2>
            </div>
            <article>
                <table cellpadding="10px" cellspacing="10px">
                    <tr>
                        <th colspan="3" height="50px">Proyectos de Automatización</th>
                    </tr>
                    <tr height="40px" >
                        <th>Dimensión</th>
                        <th>Cantidad de Entradas/Salidas</th>
                        <th>Máquinas</th>
                    </tr>
                    <tr>
                        <td>Grandes</td>
                        <td>7 a 10</td>
                        <td>Plantas de procesamiento. Industria pesada (Minería, Puerto, Siderurgia y
                            Líneas Automotrices).</td>
                    </tr>
                    <tr>
                        <td>Medianos</td>
                        <td>4 a 6</td>
                        <td>Líneas de producción, máquinas y herramientas. Islas robotizadas.
                            Aplicaciones para la mediana y pequeña industria. </td>
                    </tr>
                    <tr>
                        <td>Pequeños</td>
                        <td>1 a 3</td>
                        <td>Sistemas de riego y tanque cisterna. Portones e iluminación automática.</td>
                    </tr>
                </table>
            </article>
        </section>
    </main>
    <footer>
        <p>Todos los derechos reservados&copy; 2022</p>
    </footer>
</body>

</html>