/*Reset CSS*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Globales*/
html{
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration:solid;
    color: grey;
    font-size: 1.3em;
    margin-left: 1rem;
}
ul{
    list-style-type: none;
    color: grey;
    font-size: 1.8em;
    margin-left: 1rem;
}

/*Helpers*/
.contenedor{
    max-width: 1080px;
    margin: 0;
}

/*Body*/
body{
    display: grid;
    min-height: 100vh;
    grid-template-columns: repeat (2, 1fr);
    grid-template-rows:  10vh 13vh 1fr 10vh;
    background-color: grey;
}   
#fondo{ 
    background-image: url(../img/incio.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: right;
    background-attachment: fixed;
}

/*Header*/
header{
    display: grid;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    position: fixed;
    width: 100%;
    background-color: grey;
    padding: 1em 0;
}
h1{
    background-color :rgba(15, 15, 68, 0.979);
    color: grey;
    font-weight: 37.5em;
    font-size: 3em;
    padding: .6rem 0;
    display: flex;
    justify-content: center;
} 
.navbar{
    background-color: rgba(15, 15, 68, 0.979);
    height: 13vh;
    display: flex;
    justify-content: space-around;
    align-items:flex-start;
}
.navbar .menu{
    display: flex;
    font-size: 1.6em;
    gap: 1.2rem;
}
.logo{
    width: 180px;
    height: 70px;
}

/*Main*/
main{
    display: grid;
    grid-column: 1 / 3;
    grid-row: 3;
    background:radial-gradient(circle, #5ffbf1, #52eff8, #54e3fc, #60d6fb, #71c8f5, #71c8f5, #71c8f5, #71c8f5, #60d6fb, #54e3fc, #52eff8, #5ffbf1);
}
h2{
    color: grey;
    font-size: 1.1em;
    padding-top: 2rem;
}
.main__disposicion{
    display: grid;
    grid-template-columns: 180px 1fr 1fr;
    grid-template-rows: 180px 180px;
    background:radial-gradient(circle, #5ffbf1, #52eff8, #54e3fc, #60d6fb, #71c8f5, #71c8f5, #71c8f5, #71c8f5, #60d6fb, #54e3fc, #52eff8, #5ffbf1);
}
.main__disposicion__h2{
    display: grid;
    grid-column: 1 ;
    grid-row: 1 / 4;
    justify-items:center;
    align-items:flex-start;
    font-weight: 37.5em;
    font-size: 2.4em;
    padding: 2.8rem 0;
    margin: 2rem 0;
    background-color: rgba(15, 15, 68, 0.979);
} 
.index__a {
    display: grid;
    grid-column: 2;
    grid-row: 1 ;
    justify-items:center;
    align-items:center;
    font-weight: 37.5em;
    font-size: 3.4em;
    padding: .5rem;
    margin: 20px;
    background-color:rgb(240, 196, 181);
    animation: explosive__move infinite ease-out 6s;
}
.index__b {
    display: grid;
    grid-column: 3 / 4;
    grid-row: 2;
    justify-items:center;
    align-items:center;
    font-weight: 37.5em;
    font-size: 2em;
    padding: 1rem;
    margin: 20px;
    background-color: rgb(240, 196, 181);
    animation: explosive__move infinite ease-out 6s;
}
h3{
    color: black;
    font-weight: 12.5em;
    font-size: 1.8em;
    padding-top: 1rem;
    margin: .5rem;
}
.empresa__a{
    display: grid;
    grid-column: 2 / 3 ;
    grid-row: 1;
    justify-items:center;
    align-items:center;
    color: grey;
    font-weight: 12.5em;
    font-size: 1.8em;
    margin: 0 .3rem;
}
.empresa__b{
    display: grid;
    grid-column: 3 / 4 ;
    grid-row: 1;
    justify-items:center;
    align-items: center;
    color: grey;
    font-weight: 12.5em;
    font-size: 1.8em;
}
.empresa__c{
    display: grid;
    grid-column: 2 / 5;
    grid-row: 2;
    justify-items:center;
    align-items: center;
    color: grey;
    font-weight: 12.5em;
    font-size: 1.8em;
    padding: 1.2rem;
    margin: .3rem 0 0.3rem .3rem;
}
td, th {
    border: 1px solid black;
}

table{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 150px;
    margin: 1.5rem 0 4rem 3rem;
    text-align:center;
    font-size: 1.5em;
    border-collapse:separate;
    border-spacing: 5px;
}
ol{
    font-size: 1.8em;
    color: grey;
    margin: 1.8em;
}
form{
    display: grid;
    grid-column:  3 ;
    grid-row: 1 / 2;
    width: 25em;
    margin: 2em 10em;
}
label{
    display: block;
    padding: .3rem;
}
.btn{
    padding: .3rem;
    background-color: aqua;
}

/*Footer*/
footer{
    background-color: rgba(15, 15, 68, 0.979);
    display: grid;
    grid-column: 1 / 3;
    grid-row: 4;
    justify-items:right;
    align-items: center;
    color: grey;
    font-weight: 2em;
    font-size: 2em;
    padding-right: 2rem;
}

@media screen and (max-width: 768px) {
    .logo{
        justify-content: center;
    }    
    header{
        padding: 2em 0;
        position:absolute;
    }
    header .navbar{
        flex-wrap: wrap;
        justify-content: center;
        height: 100%;
    }
    header .navbar .menu{
        margin-top: 1rem;
    }
    .main__disposicion{
        display: flex;
        flex-direction: column;
        justify-content:flex-start;
        background:radial-gradient(circle, #5ffbf1, #52eff8, #54e3fc, #60d6fb, #71c8f5, #71c8f5, #71c8f5, #71c8f5, #60d6fb, #54e3fc, #52eff8, #5ffbf1);
    }
    footer{
        flex-wrap: wrap;
        justify-content: center;
    }
}

@keyframes explosive__move{
    0%{
        width: 600px;
    }
    25%{
        width: 400px;
    }
    50%{
        width: 200px;
        background-color: grey;
    }
    75%{
        width: 300px;
    }
    100%{
        width: 400px;
    }
}

