footer{
    background-color: rgba(15, 15, 68, 0.979);
    display: grid;
    grid-column: 1 / 3;
    grid-row: 4;
    justify-items:right;
    align-items: center;
    color:grey;
    font-weight: 2em;
    font-size: 2em;
    padding-right: 2rem;
}

@media screen and (max-width: 768px) {
footer{
    flex-wrap: wrap;
    justify-content: center;
}
}