main {
    display: grid;
    grid-column: 1 / 3;
    grid-row: 3;
    min-height: 100vh;

    .main__disposicion {
        display: grid;
        grid-template-columns: 180px 1fr 1fr;
        grid-auto-rows: minmax(70px, auto);

        &__h2 {
            display: grid;
            grid-column: 1;
            grid-row: 1 / 4;
            justify-items: center;
            align-items: flex-start;
            background-color: rgb(15, 15, 68);
        }
    }
}

h2 {
    font-size: 2.4em;
    padding: 2rem 1.2rem 2rem 1.8rem;
}

h3 {
    font-weight: 2em;
    font-size: 2em;
    padding: 2rem;
    background-color: rgb(15, 15, 68);
}

@media screen and (max-width: 768px) {
    .main__disposicion {
        display: flex !important;
        flex-direction: column;
        justify-content: flex-start;
        margin-top: 4rem;

        &__h2 {
            margin-bottom: 8rem;
        }

        table {
            display: flex;
            align-items: center;
            margin-left: .1rem;
        }

        form {
            margin-left: 17rem;
        }

        .img__medidas {
            margin-left: 13rem;
        }

        .p__alineacion {
            margin: 1rem 12rem 1.5rem 12rem;
        }
    }
}