main {
    display: grid;
    grid-column: 1 / 3;
    grid-row: 3;
    background: radial-gradient(circle, #5ffbf1, #52eff8, #54e3fc, #60d6fb, #71c8f5, #71c8f5, #71c8f5, #71c8f5, #60d6fb, #54e3fc, #52eff8, #5ffbf1);

    .main__disposicion {
        display: grid;
        grid-template-columns: 180px 1fr 1fr;
        grid-template-rows: 180px 200px;
        background: radial-gradient(circle, #5ffbf1, #52eff8, #54e3fc, #60d6fb, #71c8f5, #71c8f5, #71c8f5, #71c8f5, #60d6fb, #54e3fc, #52eff8, #5ffbf1);

        &__h2 {
            display: grid;
            grid-column: 1;
            grid-row: 1 / 4;
            justify-items: center;
            align-items: flex-start;
            font-weight: 37.5em;
            font-size: 2.4em;
            padding: 2.8rem 0;
            margin: 2rem 0;
            background-color: rgba(15, 15, 68, 0.979);
        }
    }
}

h2 {
    color: grey;
    font-size: 1.1em;
    padding-top: 2rem;
}

h3 {
    color: black;
    font-weight: 12em;
    font-size: 1.4em;
    margin-top: 1rem;
}

@media screen and (max-width: 768px) {
    .main__disposicion {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background: radial-gradient(circle, #5ffbf1, #52eff8, #54e3fc, #60d6fb, #71c8f5, #71c8f5, #71c8f5, #71c8f5, #60d6fb, #54e3fc, #52eff8, #5ffbf1);
        margin-top: 3.8rem;
    }
}