.estilos__lista {
    @include lista(black, 2.1em, 1rem);
    display: grid;
    grid-column: 2;
    grid-row: 1;
}

.estilos__logos {
    width: 30px;
}

ol {
    @include lista(black, 1em, 2rem);
    display: grid;
    grid-column: 2;
    grid-row: 1;
    margin-top: 2rem;
}

ul {
    margin: 1.3rem 0;
}

form {
    display: grid;
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    width: 38rem;
    margin: 3rem 5rem 3rem 8rem;
    border-left: .3rem solid rgba(15, 15, 68, 0.979);
}

label {
    display: block;
    padding: .3rem;
    margin: 0 2rem;
    font-size: 1.8em;
}

input[type],
select {
    margin: 0 1.3rem;
    padding: .3rem 0;
    height: 3.4rem;
    border: 1px solid rgba(15, 15, 68, 0.979);
    border-radius: .4rem;
}

textarea {
    resize: none;
    margin: 0 1.3rem;
    border: 1px solid rgba(15, 15, 68, 0.979);
    border-radius: .4rem;
}

$botones:(resetear: #696ecf,
    enviar: #787d9e);

@each $boton,
$color in $botones {
    .btn--#{$boton} {
        background-color: $color;
        padding: .3rem;
        margin: .2rem 1.5rem;
        border: 1px solid rgba(15, 15, 68, 0.979);
        border-radius: .4rem;

    }
}