ol{
    font-size: 1.8em;
    color: grey;
    margin: 1.8em;
}
form{
    display: grid;
    grid-column:  3 ;
    grid-row: 1 / 2;
    width: 25em;
    margin: 2em 10em;
}
label{
    display: block;
    padding: .3rem;
}
.btn{
    padding: .3rem;
    background-color: aqua;
}