.empresa__estilos {
    display: grid;
    align-items: flex-start;
    color: black;
}

.empresa__mision {
    @extend .empresa__estilos;
    display: grid;
    grid-column: 2 / 3;
    grid-row: 1;
}

.empresa__vision {
    @extend .empresa__estilos;
    display: grid;
    grid-column: 3 / 4;
    grid-row: 1;
}

.empresa__quienessomos {
    @extend .empresa__estilos;
    display: grid;
    grid-column: 2 / 4;
    grid-row: 2;
}