.empresa__estilos {
    display: grid;
    justify-items: center;
    align-items: center;
    color: rgb(33, 33, 173);
    font-weight: 12.5em;
    font-size: 1.8em;
    padding: 0 1rem;
}

.empresa__mision {
    @extend .empresa__estilos;
    display: grid;
    grid-column: 2 / 3;
    grid-row: 1;
    color: black;
}

.empresa__vision {
    @extend .empresa__estilos;
    display: grid;
    grid-column: 3 / 4;
    grid-row: 1;
    color: black
}

.empresa__quienessomos {
    @extend .empresa__estilos;
    display: grid;
    grid-column: 2 / 4;
    grid-row: 2;
}