#fondo {
    background-image: url(../img/imageninicio.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    background-attachment: fixed;
}

span {
    font-size: 2.3em;
}

.index__titulo {
    display: grid;
    grid-column: 2 / 4;
    grid-row: 1;
    justify-items: center;
    align-items: center;
    margin: 5rem 0;
}

.index__subtitulo {
    display: grid;
    grid-column: 2 / 4;
    grid-row: 2;
    justify-items: center;
    align-items: center;
    margin: 7rem 10rem 4rem 10rem;
    background-color: rgb(240, 196, 181);
}